#structure {
    position: relative;
    height: 70vmin;
}

.shadow-box {
    width:100%;
    height:90%;
    margin:0;
    padding:0;
    cursor:pointer;
}

.shadow-box-help {
    text-align:center;
    margin-left:10px;
    width:100%
}
.plot-diagram {
    width:100%;
    height:100%;
    margin:0;
    padding:10px;
    position:relative;
    /*top:0;
    left:0;
    overflow:hidden;
    box-sizing:border-box;*/
}

#crystal {
    height: 100%;
    width: 100%;
}

.structure-container {
 height:100%;
 /*overflow:hidden;*/
 position:relative;
 width:100%;
 z-index:1
}

.jsmol-options {
    position: absolute;
    left: 1ex;
    top: 1ex;
    z-index:6;
}


input.struct2d {
  display: none;
}

input.struct2d + label {
  border: 2px solid #eee;
  background: #ffffff;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

input.struct2d:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
  border: 2px solid #db473b;
}

input.struct2d + label:active,

input.struct2d:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #ffddcc;
  border: 2px solid #db473b;
}


