<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=10">

    <!-- Add CSS, JS, ... here, e.g, these from tools-barebone;  -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery-ui.1.12.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/visualizer_base.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/visualizer_input.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/viewer.css"/>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/custom-elements.css"/>
    <script src="../../user_static/js/keepalive.js"></script>
    <script src="../../static/js/jquery-3.1.0.min.js"></script>
    <script src="../../static/js/jquery-ui.1.12.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <!-- Styles used to show the Structure info (cif2cell results) -->                                                           
      <style type="text/css">                                                                                                      
      <!--                                                                                                                         
       .tab { margin-left: 40px; }                                                                                                 
       .bolded { font-weight: bold; }                                                                                              
       .italics { font-style: italic; }                                                                                            
       .emphasized { font-style: italic;  font-weight: bold; font-size: 1.25em}                                                    
       .center { text-align: center; }                                                                                             
      -->                                                                                                                          
      </style>                                                  


    <script type="text/javascript" src="../user_static/js/three.min.js"></script>
    <!--<script type="text/javascript" src="../static/js/BZVisualizer.min.js"></script>
    <script type="text/javascript" src="../static/js/webglcheck.min.js"></script>-->
    <script type="text/javascript" src="../user_static/js/jsmol/JSmol.min.nojq.js"></script>
    <script type="text/javascript" src="../user_static/js/oxi-visualization.js"></script>

    <!-- If you add things in a user_static folder, you will be able to access it via ../../user_static/xxx -->

    <title>cell2mol Display</title>

    <!-- Keep this, it's needed to make the tool embeddable in an iframe; it's provided by tools-barebone -->
    <script src="../../static/js/iframeResizer.contentWindow.min.js"></script>

                                                                                                                                      
    <script>                                                                                                                      
        $( function() {                                                                                                           
            $( "#accordion" ).accordion({                                                                                         
                collapsible: true,                                                                                                
                heightStyle: "content", // Avoid that all have the same height                                                    
                active: false  // Start all closed                                                                                
            });                                                                                                                   
                                                                                                                                  
        });                                                                                                                       
    </script>                                                                                                                     
                      

</head>


<body>

<div id='container'>

    <div style="padding: 15px;">                                                                                                  
        <form action="/">                                                                                                         
            <button type="submit" class="btn btn-primary">Compute other cif file</button>                                                        
        </form>                                                                                                                   
    </div>                       

    <div id='maintitle'>
        <h1 style="text-align: center;">cell2mol Structure display</h1>
    </div>
    <div id="kal-warning"><h2 class="user-warn">WARNING: keepalive not active: this session will be lost 5 minutes after the last action. To avoid this, please allow the execution of javascript (more specifically this tool's "keepalive.js")<br/>Moreover, the JS-based compound renderer will not work.</h2></div>
    <h2>Structure {{struct_name}} on display</h2>


    <div id="accordion">
    
    <h2>Instructions</h2>
    
    <div>
   
        {% with step=4 %}                                                                                                                 
            {% include 'user_templates/INST.j2' %}                                                                                        
        {% endwith %}   
    
    </div>
    
    
    <h2>Structure information</h2>

    <div>
                                                                                                                                   
      {% for paragraph_id,paragraph in enumerate(infodata.split('\n\n')) -%}                                                       
      {% set paragraph = paragraph.split('\n')-%}                                                                                  
                                                                                                                                   
      <p style="font-family=mono;" class="tab">                                                                                    
          {% for line_id,line in enumerate(paragraph) -%}                                                                          
              {% if paragraph_id == 0 and line_id == 0 %} <!-- cif2cell information -->                                            
                  <div class="center"> <span class="emphasized"> {{- line -}} </span> </div>                                       
              {% elif paragraph_id == 0 and line_id != 0 %}                                                                        
                  <div class="center"> <span class="italics"> {{- line -}} </span> </div>                                          
              {% else %} <!-- structure information -->                                                                            
                  {% if "INFORMATION" in line %} <!-- headers -->                                                                  
                      <br/>                                                                                                        
                      &nbsp;&nbsp;&nbsp;&nbsp; <span class="bolded">{{- line -}}</span>                                            
                      {% if "BIBLIOGRAPHIC" in line %} <!-- bibliographic header to match format of other headers -->              
                          <br/>                                                                                                    
                      {% endif %}                                                                                                  
                  {% else %} <!-- not headers -->                                                                                  
                      {% if ":" in line %} <!-- contain ":", then is  -->                                                          
                          <br/>                                                                                                    
                      {% endif %}                                                                                                  
                      {{- line -}}                                                                                                 
                  {% endif%}                                                                                                       
              {% endif %}                                                                                                          
              {%if line_id+1 < len(paragraph)-%}                                                                                    
                  <br/>                                                                                                            
              {%-endif%}                                                                                                           
          {%-endfor%}                                                                                                              
      {%- endfor %}                                                                                                                
      </p>                                                                                                                         
                                                                                                                                   
      </div>                                                                                                                       

    
      <h2>Structure analysis</h2>

      <div>                                                                                                                        
    {% for paragraph in celldata.split('\n\n') -%}                                                                                
         {% set paragraph = paragraph.split('\n')-%}                                                                              
         <p style="font-family=mono;" class="tab">                                                                                
                                                                                                                                  
         {% if ">>" in paragraph|join %}                                                                                          
            {% for line_id,line in enumerate(paragraph) -%}                                                                       
            {% if ">>" in line %}                                                                                                 
                &numsp;&numsp;&numsp;&numsp;<span class="bolded"> {{- line -}} </span>                                                
            {% else %}                                                                                                            
                &numsp;&numsp;&numsp;&numsp;{{- line -}}                                                                              
            {%endif%}                                                                                                             
            <br/>                                                                                                                 
            {%-endfor%}                                                                                                           
         {% else %}                                                                                                               
            {% for line_id,line in enumerate(paragraph) -%}                                                                       
            {% if "Complex" in line %}                                                                                            
                <span class="bolded"> {{- line -}} </span>                                                                        
            {% elif "[Other]" in line %}                                                                                          
                <span class="bolded"> {{- line -}} </span>                                                                        
            {% else %}                                                                                                            
                {{- line -}}                                                                                                      
            {% endif %}                                                                                                           
            <br/>                                                                                                                 
            {%-endfor%}                                                                                                           
         {%endif%}                                                                                                                
                                                                                                                                  
         </p>                                                                                                                          
    {%- endfor %}                 


     </div>
    </div>
</div>

<div class="paneviewer">
    <form class="pane" id="structure-chooser" style="width: min-content;">
        <h2>Mol components</h2>
        <p><em>Select mol components to visualize/hide.</em></p>
        <div class="row" style="margin-right: 2em">
            {% for cmp_i,(cmp_name,is_metal,desc) in enumerate(compound_data) -%}
                <div class=" col-sm text-center res-pad" style="text-align:center;float:none ">
                    <input class="struct2d" value='{{jmol_list_species[cmp_name]}}' type="checkbox" onchange="cmpVisibilityUpdate(jmolApplet);" id="selectcmp-{{cmp_i}}" checked/>
                    <label for="selectcmp-{{cmp_i}}">
                        <strong class="text-center">{{cmp_name}}</strong> <br/>
                        {{desc|safe}}
                    </label>
                </div>
            {%- endfor %}
        </div>
    </form>
    
    <div class="pane" id="structure-3D-viewer" style="flex-grow:1;width:100%;margin-left:2px;">
        {% include 'user_templates/C-rendering.j2' %}
    </div>
</div>

<div class="text-center">
<form action="./download-gmol" target="_blank">
  <button class="btn btn-default" type="submit">Download cell (.gmol)</button>
</form>
</div>

<div id='container'>
    <div style="padding: 15px; float: right;">                                                                                                  
        <form action="/">                                                                                                         
            <button type="submit" class="btn btn-primary">Compute other cif file</button>                                                        
        </form>                                                                                                                   
    </div>                       
</div>                       


<!-- Important: leave this tag as the *very last* in your page, just before the end of the body -->
<!-- It is needed to properly detect the size of the iframe -->
<div style ="position: relative" data-iframe-height></div>
</body>
</html>
