<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=10">

    <!-- Add CSS, JS, ... here, e.g, these from tools-barebone;  -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery-ui.1.12.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/visualizer_base.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/visualizer_input.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/viewer.css"/>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/custom-elements.css"/>
    <script src="../../user_static/js/keepalive.js"></script>
    <script src="../../static/js/jquery-3.1.0.min.js"></script>
    <script src="../../static/js/jquery-ui.1.12.1.min.js"></script>


      <!-- Styles used to show the Structure info (cif2cell results) -->                                                           
      <style type="text/css">                                                                                                      
      <!--                                                                                                                         
       .tab { margin-left: 40px; }                                                                                                 
       .bolded { font-weight: bold; }                                                                                              
       .italics { font-style: italic; }                                                                                            
       .emphasized { font-style: italic;  font-weight: bold; font-size: 1.25em}                                                    
       .center { text-align: center; }                                                                                             
      -->                                                                                                                          
      </style>                                                  


    <script type="text/javascript" src="../user_static/js/three.min.js"></script>
    <!--<script type="text/javascript" src="../static/js/BZVisualizer.min.js"></script>
    <script type="text/javascript" src="../static/js/webglcheck.min.js"></script>-->
    <script type="text/javascript" src="../user_static/js/jsmol/JSmol.min.nojq.js"></script>
    <script type="text/javascript" src="../user_static/js/oxi-visualization.js"></script>

    <!-- If you add things in a user_static folder, you will be able to access it via ../../user_static/xxx -->

    <title>Cell2Mol Display</title>

    <!-- Keep this, it's needed to make the tool embeddable in an iframe; it's provided by tools-barebone -->
    <script src="../../static/js/iframeResizer.contentWindow.min.js"></script>

<!-- Moved to custom-elements.css
      <style>                                                                                                                       
      .c2minput {                                                                                                                   
        box-sizing: border-box;                                                                                                     
        -webkit-appearance: none;                                                                                                   
        position: relative;                                                                                                         
        display: block;                                                                                                             
        width: 180px;                                                                                                               
        height: 55px;                                                                                                               
        margin: 50px auto;                                                                                                          
        border: 5px solid #f7f7f5;                                                                                                  
        border-radius: 17px;                                                                                                        
        cursor: pointer;                                                                                                            
        background: white; 
      
      }                                                                                                                             
                                                                                                                                    
      .c2minput:after,
      .c2minput:before {
      box-sizing: border-box;
        position: absolute;                                                                                                         
        left: 5px;                                                                                                                  
        top: 5px;                                                                                                                   
        width: 75px;                                                                                                                
        height: 35px;                                                                                                               
        border: 5px solid;                                                                                                          
        border-radius: 12px;                                                                                                        
        text-align: center;                                                                                                         
        line-height: 22px;                                                                                                          
        font-size: 32px;                                                                                                            
        transition: all 0.3s ease-out;   
        font-size: 25px;
      }                                                                                                                             
                                                                                                                                    
      .c2minput:before {                                                                                                            
        content: "cell";                                                                                                            
        color: #ffddcc;                                                                                                             
        border-color: #db473b;                                                                                                      
        background: #db473b;                                                                                                        
      }                                                                                                                             
                                                                                                                                    
      .c2minput:after {                                                                                                             
        left: auto;                                                                                                                 
        right: 5px;                                                                                                                 
        content: "mol";                                                                                                             
        border-color: #db473b;                                                                                                      
        color: #ffddcc;                                                                                                             
        background: #db473b;                                                                                                        
        opacity: 0.4;                                                                                                               
      }                                                                                                                             
                                                                                                                                    
      .c2minput:checked:after {                                                                                                     
        opacity: 1;                                                                                                                 
      }                                                                                                                             
                                                                                                                                    
      .c2minput:checked:before {                                                                                                    
       opacity: 0.3;                                                                                                               
      }                                                                                                                             
      </style>                
-->



</head>


<body>

<div id='container'>

    <div style="padding: 15px;">                                                                                                  
        <form action="/">                                                                                                         
            <button type="submit" class="btn btn-primary">Compute other cif file</button>                                                        
        </form>                                                                                                                   
    </div>                       

    <div id='maintitle'>
        <h1 style="text-align: center;">Cell2Mol Structure display</h1>
    </div>
    <div id="kal-warning"><h2 class="user-warn">WARNING: keepalive not active: this session will be lost 5 minutes after the last action. To avoid this, please allow the execution of javascript (more specifically this tool's "keepalive.js")<br/>Moreover, the JS-based compound renderer will not work.</h2></div>
    <h2>Structure {{struct_name}} on display</h2>


    <div class="collapsed-text-outer">
    <input id="cifinfo-togg" class="toggle hidden" type="checkbox" id="c2m-ctrl-info" aria-controls="c2m-output-info">
    <label for="cifinfo-togg" class="lbl-toggle" id="c2m-lbl-info" aria-selected="false" aria-expanded="false">Structure information</label>
    <div class="collapsed-text-inner" id="c2m-output-info" aria-labelledby="c2m-ctrl-info">

    <!---
    {% for paragraph in infodata.split('\n\n') -%}
    {% set paragraph = paragraph.split('\n')-%}
    <p style="font-family=mono;">
      {% for line_id,line in enumerate(paragraph) -%}
          {{- line -}}
	  {%if line_id+1 < len(paragraph)-%}
	    <br/>
	  {%-endif%}
      {%-endfor%}
    </p>
    {%- endfor %}
    </div></div>
    --->


      <br/>                                                                                                                        
                                                                                                                                   
      {% for paragraph_id,paragraph in enumerate(infodata.split('\n\n')) -%}                                                       
      {% set paragraph = paragraph.split('\n')-%}                                                                                  
                                                                                                                                   
      <p style="font-family=mono;" class="tab">                                                                                    
          {% for line_id,line in enumerate(paragraph) -%}                                                                          
              {% if paragraph_id == 0 and line_id == 0 %} <!-- cif2cell information -->                                            
                  <div class="center"> <span class="emphasized"> {{- line -}} </span> </div>                                       
              {% elif paragraph_id == 0 and line_id != 0 %}                                                                        
                  <div class="center"> <span class="italics"> {{- line -}} </span> </div>                                          
              {% else %} <!-- structure information -->                                                                            
                  {% if "INFORMATION" in line %} <!-- headers -->                                                                  
                      <br/>                                                                                                        
                      &nbsp;&nbsp;&nbsp;&nbsp; <span class="bolded">{{- line -}}</span>                                            
                      {% if "BIBLIOGRAPHIC" in line %} <!-- bibliographic header to match format of other headers -->              
                          <br/>                                                                                                    
                      {% endif %}                                                                                                  
                  {% else %} <!-- not headers -->                                                                                  
                      {% if ":" in line %} <!-- contain ":", then is  -->                                                          
                          <br/>                                                                                                    
                      {% endif %}                                                                                                  
                      {{- line -}}                                                                                                 
                  {% endif%}                                                                                                       
              {% endif %}                                                                                                          
              {%if line_id+1 < len(paragraph)-%}                                                                                    
                  <br/>                                                                                                            
              {%-endif%}                                                                                                           
          {%-endfor%}                                                                                                              
      {%- endfor %}                                                                                                                
      </p>                                                                                                                         
                                                                                                                                   
      </div>                                                                                                                       
      </div>                                                     


    <div class="collapsed-text-outer">
    <input id="ciflysi-togg" class="toggle hidden" type="checkbox" id="c2m-ctrl-lysi" aria-controls="c2m-output-lysi">
    <label for="ciflysi-togg" class="lbl-toggle" id="c2m-lbl-lysi" aria-selected="false" aria-expanded="false">Structure analysis</label>
    <div class="collapsed-text-inner" id="c2m-output-lysi" aria-labelledby="c2m-ctrl-lysi">

    <!---
    {% for paragraph in celldata.split('\n\n') -%}
    {% set paragraph = paragraph.split('\n')-%}  
    <p style="font-family=mono;">
      {% for line_id,line in enumerate(paragraph) -%}
          {{- line -}}
	  {%if line_id+1 < len(paragraph)-%}
	    <br/>
	  {%-endif%}
      {%-endfor%}
    </p>
    {%- endfor %}
    </div></div>
    --->


     {% for paragraph in celldata.split('\n\n') -%}
     {% set paragraph = paragraph.split('\n')-%}
     <p style="font-family=mono;" class="tab">
       {% for line_id,line in enumerate(paragraph) -%}
           {% if "Complex" in line %}
             &nbsp;&nbsp;<span class="bolded"> {{- line -}} </span>
           {% elif ">>" in line %}
             &nbsp;&nbsp;<span class="bolded"> {{- line -}} </span>
           {% else %}
             {{- line -}}
           {% endif %}
       {%if line_id+1 < len(paragraph)-%}
         <br/>
       {%-endif%}
       {%-endfor%}
     </p>
     {%- endfor %}
     </div></div>
</div>

<div class="paneviewer">
  <form class="pane" id="structure-chooser" style="width:fit-content;">
    {% for cmp_i,(cmp_name,is_metal,desc) in enumerate(compound_data) -%}
       <div class="struct2d">
	 <input style="margin-right:4px" type="checkbox" onchange="cmpVisibilityUpdate();" id="selectcmp-{{cmp_i}}" checked/>
	 <label for="selectcmp-{{cmp_i}}">
	   <strong class="text-center">{{cmp_name}}</strong> <br/>
	   {{desc|safe}}
	 </label>
       </div>
    {%- endfor %}
  </form>
  <div class="pane" id="structure-3D-viewer" style="flex-grow:1;width:100%;">
    {% include 'user_templates/C-rendering.j2' %}
  </div>
</div>

<!-- Moved to oxi-visualization.js
<script>
  function cmpVisibilityUpdate() {
    let visible_cmps = [];
    let visible_cmps_str = "";
    let x = document.getElementById("structure-chooser");
    let i;
    for (i = 0; i < x.length ;i++) {
      if (x.elements[i].checked) {
	visible_cmps.push(i);
	visible_cmps_str += (" " + (i+1))
      }
    }
    showCompounds(jmolApplet, visible_cmps_str);
  }
</script>
-->

<div class="text-center">
<form action="./download-xyzselected">
  <button type="submit" style="height:50px;width:150px">Download selected xyz</button>
</form>
</div>


<div class="text-center">
<form action="./download-gmol">
  <button type="submit" style="height:50px;width:150px">Download cell (.gmol)</button>
</form>
</div>


<!-- Important: leave this tag as the *very last* in your page, just before the end of the body -->
<!-- It is needed to properly detect the size of the iframe -->
<div style ="position: relative" data-iframe-height></div>
</body>
</html>
