<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add CSS, JS, ... here, e.g, these from tools-barebone;  -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery-ui.1.12.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/visualizer_base.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/visualizer_input.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../user_static/css/custom-elements.css"/>
    <script src="../../user_static/js/keepalive.js"></script>
    <script src="../../static/js/jquery-3.1.0.min.js"></script>
    <script src="../../static/js/jquery-ui.1.12.1.min.js"></script>


     <!-- Styles used to show the Structure info (cif2cell results) -->
     <style type="text/css">
     <!--
      .tab { margin-left: 40px; }
      .bolded { font-weight: bold; }
      .italics { font-style: italic; }
      .emphasized { font-style: italic;  font-weight: bold; font-size: 1.25em}
      .center { text-align: center; }
     -->
     </style>

    <!-- If you add things in a user_static folder, you will be able to access it via ../../user_static/xxx -->

    <title>cell2mol structure analysis</title>

    <!-- Keep this, it's needed to make the tool embeddable in an iframe; it's provided by tools-barebone -->
    <script src="../../static/js/iframeResizer.contentWindow.min.js"></script>

                                                                                                                            
    <script>                                                                                                                      
        $( function() {                                                                                                           
            $( "#accordion" ).accordion({                                                                                         
                collapsible: true,                                                                                                
                heightStyle: "content", // Avoid that all have the same height                                                    
                active: false  // Start all closed                                                                                
            });                                                                                                                   
                                                                                                                                  
        });                                                                                                                       
    </script>                                                                                                                     
                              

</head>

<body>
<div id='container'>

    <div style="padding: 15px;">                                                                                                  
        <form action="/">                                                                                                         
            <button type="submit" class="btn btn-primary">Compute other cif file</button>                                         
        </form>                                                                                                                   
    </div>                   

    <div id='maintitle'>
        <h1 style="text-align: center;">cell2mol structure analysis</h1>
    </div>
    <div id="kal-warning"><h2 class="user-warn">WARNING: keepalive not active: this session will be lost 5 minutes after the last action. To avoid this, please allow the execution of javascript (more specifically this tool's "keepalive.js")</h2></div>
    <h2>Structure {{struct_name}} analized and converted successfully</h2>


    <div id="accordion">

    <h2>Instructions</h2>
    
    <div>
    </br>
    
    <ul style="color: DimGray; text-align: justify;">
        <li>
            Upload the input file, select its corresponding file format, and press <strong><samp>Calculate my structure</strong></samp>.
        </li>
    
        </br>
    
        <li>
            If the input file was imported and interpreted successfully, you will be able to view basic structure information under
            the <strong><samp>Structure information</strong></samp> tab. Press <strong><samp>Run cell2mol</strong></samp> and wait.
            The waiting time depends on the structure size and complexity.
        </li>
    </ul>
    
    </br>
    
    <ul style="color: blue; text-align: justify;">
        <li>
        <span style="color:black">
            If the structure was analyzed successfully, you will be able to view its analysis under the <kbd>Structure analysis</kbd>
            tab. You can download the cell object in <i>.gmol</i> format by pressing <kbd>Download cell (.gmol)</kbd>.
            Press <kbd>View structure</kbd> to view, interact and download specific molecules or complexes.
        </span>
        </li>
    </ul>
    
    </br>
    
    <ul style="color: Gray; text-align: justify;">
        <li>
            By double-clicking  on the 3d structure you will be able to zoom in, zoom out, and rotate the model. On the left column,
            you can select which molecular components (ligands, molecules, or metals) are displayed. Below the 3d structure, you will find a toggle
            button to select if you want to view the cell or one mol (molecule or complex). When mol is selected, you can use the
            dropdown menu to choose one to visualize. The xyz file of the selected mol containing
            charge, spin, and cartesian coordinates (ready for quantum chemical calculations), can be downloaded by clicking <strong><samp>Download selected
            mol (.xyz)</strong></samp>.
        </li>
    </ul>
    
    <p style="text-align: justify;">
    If one of the steps fail, please verify your input file or try to use a different cif2cell version if using info file as input.
    </p>
    
    </div>
                                                                                                               

    
    <h2>Structure information</h2>
                                                                                                                                   
    <div>
     {% for paragraph_id,paragraph in enumerate(infodata.split('\n\n')) -%}                                                        
     {% set paragraph = paragraph.split('\n')-%}                                                                                   
                                                                                                                                   
     <p style="font-family=mono;" class="tab">                                                                                     
         {% for line_id,line in enumerate(paragraph) -%}                                                                           
             {% if paragraph_id == 0 and line_id == 0 %} <!-- cif2cell information -->                                             
                 <div class="center"> <span class="emphasized"> {{- line -}} </span> </div>                                        
             {% elif paragraph_id == 0 and line_id != 0 %}                                                                         
                 <div class="center"> <span class="italics"> {{- line -}} </span> </div>                                           
             {% else %} <!-- structure information -->                                                                             
                 {% if "INFORMATION" in line %} <!-- headers -->                                                                   
                     <br/>                                                                                                         
                     &nbsp;&nbsp;&nbsp;&nbsp; <span class="bolded">{{- line -}}</span>                                             
                     {% if "BIBLIOGRAPHIC" in line %} <!-- bibliographic header to match format of other headers -->               
                         <br/>                                                                                                     
                     {% endif %}                                                                                                   
                 {% else %} <!-- not headers -->                                                                                   
                     {% if ":" in line %} <!-- contain ":", then is  -->                                                           
                         <br/>                                                                                                     
                     {% endif %}                                                                                                   
                     {{- line -}}                                                                                                  
                 {% endif%}                                                                                                        
             {% endif %}                                                                                                           
             {%if line_id+1 < len(paragraph)-%}                                                                                    
                 <br/>                                                                                                             
             {%-endif%}                                                                                                            
         {%-endfor%}                                                                                                               
     {%- endfor %}                                                                                                                 
     </p>                                                                                                                          
                                                                                                                                   
     </div>                                         

    <h2>Structure analysis</h2>

    <div>
    {% for paragraph in celldata.split('\n\n') -%}
         {% set paragraph = paragraph.split('\n')-%}  
         <p style="font-family=mono;" class="tab">

         {% if ">>" in paragraph|join %}
            {% for line_id,line in enumerate(paragraph) -%}
            {% if ">>" in line %}
                &numsp;&numsp;&numsp;&numsp;<span class="bolded"> {{- line -}} </span> 
            {% else %}
                &numsp;&numsp;&numsp;&numsp;{{- line -}}
            {%endif%}
            <br/>
            {%-endfor%}
         {% else %}
            {% for line_id,line in enumerate(paragraph) -%}
            {% if "Complex" in line %}
                <span class="bolded"> {{- line -}} </span>
            {% elif "[Other]" in line %}
                <span class="bolded"> {{- line -}} </span>
            {% else %}
                {{- line -}} 
            {% endif %}
            <br/>
            {%-endfor%}
         {%endif%}

         </p>
    {%- endfor %}

    </div>
    </div>

    <div class="text-center" style="margin-top:1em">
        <form action="./download-gmol">
            <button class="btn btn-default" type="submit">Download cell (.gmol) </button>
        </form>
        <form action="./view-gmol">
            <button class="btn btn-success" type="submit">View structure</button>
        </form>
    </div>
</div>

<!-- Important: leave this tag as the *very last* in your page, just before the end of the body -->
<!-- It is needed to properly detect the size of the iframe -->
<div style ="position: relative" data-iframe-height></div>
</body>
</html>
