


<h2><a name="tool"></a>Upload your structure</h2>
<div style="margin-left: 20px; margin-right: 20px">
    <form action="compute/process_structure/" enctype="multipart/form-data" method="post">
        <div class='alert alert-info'>
            <div class='row'>
                <div class='col-xs-12 col-sm-6'>
                    <label for="file">Upload a crystal structure:</label>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input type="file" name="structurefile" size="100">
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-6'>
                    <label for="fileformatSelect">Select here the file format:</label>
                </div>
                <div class='col-sm-6'>
                    <select name="fileformat" id="fileformatSelect" onchange="formatInfo();" autocomplete="off">
                        <option disabled selected value> -- select an option -- </option>
                        {# First put the formats the user specified, if existing #}
                        {% for parser_name in config.get('upload_structure_block_order', []) %}
                            {% if parser_name in upload_structure_block_known_formats %}
                            <option value="{{ parser_name }}">{{ upload_structure_block_known_formats[parser_name] }}</option>
                            {% endif %}
                        {% endfor %}

                        {# Then put any remaining format #}
                        {% for parser_name in upload_structure_block_known_formats %}
                            {% if parser_name not in config.get('upload_structure_block_order', []) %}
                                <option value="{{ parser_name }}">{{ upload_structure_block_known_formats[parser_name] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class='row'>
            <div id="systemTypeBlock" hidden>
                <div class='col-sm-6'>
                    <label for="systemtypeSelect">Select here the system type:</label>
                </div>
                <div class='col-sm-6'>
                    <select name="systemtype" id="systemtypeSelect" onchange="formatInfo()" autocomplete="off">
                        <option disabled selected value> -- select a file format -- </option>
                        {# First put the formats the user specified, if existing #}
                        {% for parser_name in config.get('upload_structure_block_known_system_type', []) %}
                            {% if parser_name in upload_structure_block_known_system_type %}
                            <option value="{{ parser_name }}">{{ upload_structure_block_known_system_type[parser_name] }}</option>
                            {% endif %}
                        {% endfor %}

                        {# Then put any remaining format #}
                        {% for parser_name in upload_structure_block_known_system_type %}
                            {% if parser_name not in config.get('upload_structure_block_known_system_type', []) %}
                                <option value="{{ parser_name }}">{{ upload_structure_block_known_system_type[parser_name] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            </div>

            <div class="row" style="margin-top:1px; margin-bottom:4px;">

                <div id="cifImportantInfo" hidden>
                    <div class='col-sm-6'>
                        <label for="systemtypeSelect">Select here the system type:</label>
                    </div>
                    <div class='col-sm-6'>
                        <select name="systemtype" id="systemtypeSelect" autocomplete="off">
                            <option disabled selected value> -- select a system type -- </option>
                            {# First put the formats the user specified, if existing #}
                            {% for parser_name in config.get('upload_structure_block_known_system_type_CIF', []) %}
                                {% if parser_name in upload_structure_block_known_system_type_CIF %}
                                <option value="{{ parser_name }}">{{ upload_structure_block_known_system_type_CIF[parser_name] }}</option>
                                {% endif %}
                            {% endfor %}

                            {# Then put any remaining format #}
                            {% for parser_name in upload_structure_block_known_system_type_CIF %}
                                {% if parser_name not in config.get('upload_structure_block_known_system_type_CIF', []) %}
                                    <option value="{{ parser_name }}">{{ upload_structure_block_known_system_type_CIF[parser_name] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="xyzImportantInfo" hidden>
                    <div class='col-sm-6'>
                        <label for="systemtypeSelect">Select here the system type:</label>
                    </div>
                    <div class='col-sm-6'>
                        <select name="systemtype" id="systemtypeSelect"  autocomplete="off">
                            <option disabled selected value> -- select a system type -- </option>
                            {# First put the formats the user specified, if existing #}
                            {% for parser_name in config.get('upload_structure_block_known_system_type_XYZ', []) %}
                                {% if parser_name in upload_structure_block_known_system_type_XYZ %}
                                <option value="{{ parser_name }}">{{ upload_structure_block_known_system_type_XYZ[parser_name] }}</option>
                                {% endif %}
                            {% endfor %}

                            {# Then put any remaining format #}
                            {% for parser_name in upload_structure_block_known_system_type_XYZ %}
                                {% if parser_name not in config.get('upload_structure_block_known_system_type_XYZ', []) %}
                                    <option value="{{ parser_name }}">{{ upload_structure_block_known_system_type_XYZ[parser_name] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>

            <div id="xyzFormatFields" class="row" style="display: none">
                <div class='col-sm-6'>Cell vectors (&#x212B;)</div>
                <div class='col-sm-6'>
                    <div class='row'>
                        <div class='col-xs-2'>A</div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecAx"></div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecAy"></div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecAz"></div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-2'>B</div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecBx"></div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecBy"></div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecBz"></div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-2'>C</div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecCx"></div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecCy"></div>
                        <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecCz"></div>
                    </div>
                </div>
            </div>
            {% if include_pages['upload_structure_additional_content'] is not none %}
            {% include include_pages['upload_structure_additional_content'] %}
            {% endif %}
            {% block structure_additional_content %}{% endblock %}
            <div class='row' style="text-align:center">
                <br/>
                <input type="submit" value="Calculate my structure" class="btn btn-default">
            </div>
        </div>
    </form>
</div>

<script>
    function formatInfo() {
        //document.getElementById(divId).style.display = element.value == "cif-pymatgen" ? 'block' : 'none';
        var inputFileFormat = document.getElementById("fileformatSelect").value;

        if (inputFileFormat == "cif-pymatgen") {                                                                                                 
            document.getElementById("cifImportantInfo").style.display="block";                                                       
            document.getElementById("xyzImportantInfo").style.display="none";                                                           
        } else if (inputFileFormat == "xyz-ase") {                                                                                         
            document.getElementById("cifImportantInfo").style.display="none";                                                       
            document.getElementById("xyzImportantInfo").style.display="block";                                                           
        } else {                                                                                                                        
            document.getElementById("cifImportantInfo").style.display="none";                                                            
            document.getElementById("xyzImportantInfo").style.display="none";                                                           
        }                                                 
    }
</script>
